* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    font-family: 'Inter', Times, serif;
}

.form-container {
    background-color: black;
    min-height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    color: black;
    background-color: white;
    height: 500px;
    width: 500px;
    border-radius: 20px;
}

.form-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header {
    font-size: 20px;
    padding: 20px;
    margin: 30px;
}

.username-input, .password-input {
    margin-bottom: 5px;
    padding: 15px;
    border: 1px solid grey;
    width: 75%;
    border-radius: 5px;
}


.form-content .forgot-password {
    margin-top: 5px;
    width: 75%;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
}

.forgot-password:hover{
    text-decoration: underline;
}

.form-content button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid grey;
    width: 75%;
    border-radius: 5px;
    cursor: pointer;
}

.form-content .login-button {
    margin-top: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.form-content .register-button {
    background-color: #0079af;
    color: white;
    font-weight: bold;
}